@model BusinessDatabase.DataObj.UserDto
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/DatetimePicker/css/daterangepicker.css" rel="stylesheet" />
<link href="~/Content/fontawesome-iconpicker-master/dist/css/fontawesome-iconpicker.min.css" rel="stylesheet" />
<link href="~/Content/fontawesome-iconpicker-master/dist/css/all.css" rel="stylesheet" />
<link href="~/Content/DataTables-1.10.4/extensions/Scroller/css/dataTables.scroller.min.css" rel="stylesheet" />

<script src="~/Content/js/plugin/datatables/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jquery.dataTables.customize.js"></script>
<script src="~/Content/js/plugin/datatables/dataTables.colVis.min.js"></script>
<script src="~/Content/js/plugin/datatables/dataTables.tableTools.min.js"></script>
<script src="~/Content/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/Content/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>
<script src="~/Content/DataTables-1.10.4/extensions/Scroller/js/dataTables.scroller.js"></script>
<script src="~/Scripts/select2.min.js"></script>
<script src="~/Content/DatetimePicker/js/moment.min.js"></script>
<script src="~/Content/DatetimePicker/js/daterangepicker.js"></script>
<script src="~/Content/js/smartwidgets/jarvis.widget.min.js"></script>
<script src="~/Scripts/woori-helper.js"></script>
<script src="~/Scripts/woori-constants.js"></script>
<script src="~/Content/fontawesome-iconpicker-master/dist/js/fontawesome-iconpicker.min.js"></script>
<script src="~/Content/fontawesome-iconpicker-master/src/js/iconpicker.js"></script>
<script src="~/Content/fontawesome-iconpicker-master/src/js/jquery.ui.pos.js"></script>
<script src="~/Content/js/plugin/bootstrapvalidator/bootstrapValidator.min.js"></script>



<script type="text/javascript">

    $(document).ready(function () {
        pageSetUp();
        // toggle form

        $('.icp-auto').iconpicker();
        $('#togglingForm').bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            live: "enabled",
            fields: {
                OldPass: {
                    validators: {
                        notEmpty: {
                            message: 'Old password is required'
                        }
                    }
                },
                NewPass: {
                    validators: {
                        notEmpty: {
                            message: 'New password is required'
                        }
                    }
                },
                CNewPass: {
                    validators: {
                        notEmpty: {
                            message: 'Confirm new password is required'
                        }
                    }
                }
             
            }
        }).on("success.form.bv", function (e) {
            // chặn submit form
            e.preventDefault();
            // get form instance
            var $form = $(e.target);
            // get bootstrap validator instance
            var bv = $form.data('bootstrapValidator');
            //    console.log($("#STATUS"));
            var newPass=$("#NewPass").val();
            var cnewPass=$("#CNewPass").val();
            if (cnewPass == newPass) {

           
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ChangePass")',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    ID: '@Model.ID',
                    oldPass: $("#OldPass").val(),
                    newPass: $("#NewPass").val()
                }),
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    if(data.isSuccess == "Success"){
                        $("#resultWidget").html('   <div class="alert alert-success fade in"><button class="close" data-dismiss="alert">×</button><i class="fa-fw fa fa-check"></i>                <strong>Success!</strong> Function has been updated successfully.           </div>');
                          setTimeout(function () { location.href = "@Url.Action("Index")"; }, 5000);
                    } else {
                        $("#resultWidget").html(' <div class="alert alert-danger fade in">                <button class="close" data-dismiss="alert">             ×                </button>                <i class="fa-fw fa fa-times"></i>                <strong>Error!</strong> Some data input wrong.            </div>');
                    }

                }

            });
            }
         
        });

        // end toggle form

        $("#btnSubmit").click(function () {

            console.log("clicked");

        });

        // click on STATUS ON-OFF input name like 'checkbox-toggle-*'
        $(document).on("click", "input[name^='checkbox-toggle-']", function (data) {
            var id = this.name.replace('checkbox-toggle-', '');
            console.log("clicked");
            console.log(id);

            $.ajax({
                type: 'POST',
                url: '@Url.Action("ToggleStatus")',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({
                    id: id
                }),
                dataType: 'json',
                success: function (data) {

                },

            });
        });


    });
</script>
<section id="widget-grid" class="">
    <div class="row">
        <!-- NEW WIDGET START -->
        <article class="col-sm-12" id="resultWidget"></article>
        <!-- WIDGET END -->
        <!-- NEW COL START -->
        <article class="col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                    <h2>Change Passsword Form</h2>

                </header>

                <!-- widget div-->
                <div>

                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">
                        <!-- This area used as dropdown edit box -->

                    </div>
                    <!-- end widget edit box -->
                    <!-- widget content -->
                    <div class="widget-body no-padding">

                        <form id="togglingForm" class="smart-form" method="post">
                            <header>
                                Change Password <b>@Model.EMP_ID</b>
                            </header>
                            <fieldset>
                                <div class="form-group">
                                    <label class="label control-label">Old Password *</label>
                                    <label class="input">
                                        <input type="password" id="OldPass" name="OldPass" class="input-sm form-control" value="">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="label control-label">New Password *</label>
                                    <label class="input">
                                        <input type="password" id="NewPass" name="NewPass" class="input-sm form-control" value="">
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="label control-label">Confirm New Password *</label>
                                    <label class="input">
                                        <input type="password" id="CNewPass" name="CNewPass" class="input-sm form-control" value="">
                                    </label>
                                </div>                              
                            </fieldset>                          
                            <footer>
                                <button type="submit" id="btnSubmit" class="btn btn-primary">
                                    Submit
                                </button>
                                <button type="button" class="btn btn-default" onclick="window.history.back();">
                                    Back
                                </button>
                            </footer>
                        </form>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>
            <!-- end widget -->
        </article>
        <!-- END COL -->
    </div>
</section>
